body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
header{
  background-image: url(/images/heading-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 15px;
}
nav{
  display: flex;
  justify-content: space-around;

}
header nav img{
  height: 30px;
  margin-top: 15px;
  margin-left: 25px;
}
header nav ul{
  display: flex;
  justify-content: space-between;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 25px;
  color: black;
  font-weight: 700;
  text-transform: capitalize;
}
#home{
  background-image: url("/images/facts-bg.jpg");
}
#home .container{
  position: relative;
}
#home .container .video{
  width: 500px;
  position: absolute;
  right: 20%;
  top: 80px;
}
#home .container h2{
  position: absolute;
  right: 35%;
  font-size: 2rem;
}
#home .container p{
  position: absolute;
  top: 350px;
  right: 22%;
  font-size: 1.5rem;
  font-weight: bold;
}